<ion-content class="background-image centrado">

  <img class="img-log" src="../../assets/images/casa.png" />

  <ion-card>
    <ion-card-header class="centrado">
      <ion-card-title>
        <h1 class="title">Iniciar Sesión</h1>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content card-transparent>

      <form class="centrado">
        <ion-item color="none">
          <ion-input class="centrado" type="email" placeholder="Ingrese su correo" [(ngModel)]="user.email" name="email"
            required>
          </ion-input>
        </ion-item>
        <ion-item color="none">
          <ion-input class="centrado" type="password" placeholder="Ingrese su contraseña" [(ngModel)]="user.password"
            name="password" required></ion-input>
        </ion-item>

        <ion-item id="divUsuarios" class="centrado" color="none" lines="none">
          <ion-icon class="iconUser" name="camera-outline" *ngFor="let usuario of listaUsuarios"
            (click)="seleccionarUsuario(usuario)"></ion-icon>
        </ion-item>

        <button class="button" type="submit" (click)="onLogin()">Ingresar</button>
        <button class="button" type="submit" (click)="onRegister()">Registrar</button>
      </form>

    </ion-card-content>
  </ion-card>
</ion-content>