// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #c7ff22;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #2e279d;
  --ion-color-primary-tint: rgb(230, 219, 70);
}
