<ion-content>
  <img id="img-logout" src="./assets/images/background-login.png" />

  <div class="slide-bottom container">
    <ion-card>
        <p>¿Seguro desea cerrar sesión?</p>
      <ion-card-content>
        <ion-button expand="full" shape="round" type="submit" (click)="onLogout()" block>Cerrar
        </ion-button>
        <ion-button expand="full" shape="round" type="submit" (click)="onHome()" block>Volver
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>

</ion-footer>