p {
  text-align: center;
}

#img-logout {
  transform: scaleX(-1);
}

.container{
  position: relative;
}

ion-card-content {
  display: flex;
  align-items: center;
  align-content: space-between;
}

ion-button {
  width: 50%;
}

.slide-bottom {
  -webkit-animation: slide-bottom 2s linear both;
  animation: slide-bottom 2s linear both;
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
