<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Inicio </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      
      <!-- User Logged -->
      <div *ngIf="user$ | async as user$; else login">
        <ion-tab-button>
          <ion-icon name="log-out" routerLink="/user/logout"> </ion-icon> Cerrar
          Sesión
        </ion-tab-button>
      </div>

      <!-- User not Logged -->
      <ng-template #login>
        <ion-tab-button>
          <ion-icon name="log-in" routerLink="/user/login"> </ion-icon> Ingresar
        </ion-tab-button>
      </ng-template>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
