.container {
  animation-name: scale-in-center;
  animation-duration: 3s;
  img {
    height: 10rem;
    margin-top: 50%;
  }
}

.programmerData, #pDivision {
  font-size: 3rem;
  animation-duration: 1s;
  animation-name: blink-1;
}

#pDivision {
  font-size: 2rem;
}
