.background-image{
    --background:none;
    background: url("../../assets/images/background-granja.jpg") no-repeat center / cover;
}

*{
    margin: 0px;
    padding: 0px;
}

img{
    height: 13em;
    width: 100%;
    margin-bottom: 12px;
    border-radius: 30px;
}

.container:last-child{
    margin-bottom: 0px;
}

.desdeDerecha{
    animation-duration: 3s;
    animation-name: desdeDerecha;
}
.desdeIzquierda{
    animation-duration: 3s;
    animation-name: desdeIzquierda;
}
@keyframes desdeIzquierda{
    from{
        margin-left: -100%;
        width: 100%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}
@keyframes desdeDerecha{
    from{
        margin-left: 100%;
        width: 100%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}

#btn-logout{
    --background:none;
    min-width: 100%;
    outline-offset: 15px;
    background-color: rgb(252, 189, 71);
}

#btn-logout{
    top:94%;
    position: fixed;
}