/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: "PermanentMarker";
    src: url("./assets/fonts/PermanentMarker-Regular.ttf");
}

body {
    --ion-background-color: linear-gradient(135deg, rgb(124 124 124) 25%, transparent 25%) -50px 0, linear-gradient(225deg, rgb(108 108 108) 25%, transparent 25%) -50px 0, linear-gradient(315deg, rgb(110, 110, 110) 25%, transparent 25%), linear-gradient(45deg, rgb(100 97 97) 25%, transparent 25%);
    background-size: 8rem 8rem;
    background-color: #746565;
}

p,
h1,
ion-button,
ion-fab,
ion-item,
ion-toolbar,
ion-input,
ion-icon,
ion-card-subtitle,
ion-card-title {
    font-family: "PermanentMarker" !important;
    color: #251e93;
}

ion-content,
ion-header,
ion-footer {
    text-align: center;
}

ion-card, ion-item, ion-footer {
    --background: papayawhip;
}

ion-button:hover {
    animation-name: rotate;
    animation-duration: 1s;
}

ion-footer {
    display: flex;
    justify-content: space-between;

    p,
    ion-button {
        margin: 0.25rem;
    }
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateY(180deg) translate(0px, 0px); //skew(-3deg, 20deg);
    }
}

@keyframes rightIn {
    from {
        margin-left: 80%;
    }
    to {
        margin-left: 0%;
    }
}

@keyframes leftIn {
    from {
        margin-right: 80%;
    }
    to {
        margin-right: 0%;
    }
}
