<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Inicio </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button>
        <ion-icon name="log-in" routerLink="/user/login"> </ion-icon> Ingresar
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="log-out" routerLink="/user/logout"> </ion-icon> Cerrar
        Sesion
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->

  <ion-button class="btnLogin" expand="block" shape="round" (click)="login()"
    >Iniciar Sesion</ion-button
  >
</ion-content>
