ion-input {
  display: inline-block;
  max-width: 90%;
}

ion-card-header {
  background: transparent;

  font-weight: bold;
  margin-bottom: 3px;
}

.mesagge-user {
  font-size: 10px;
  color: whitesmoke;
  text-align: left;
}

.card-content-message {
  background-color: transparent;
}

.some-message, .user-message{
    color: rgb(0, 0, 0);
    background-color: #55df95;
}

.user-message{ 
    background-color: #2abdb1;
}

.info {
  position: relative;
  float: right;
  font-size: 9px;
  margin-bottom: 0px;
  color: whitesmoke;
}

#sendButton {
  position: relative;
  float: right;
  font-size: 200%;
  transform: translate(3px);
  margin-top: 3px;
  margin-right: 5px;
}
