ion-input {
  display: inline-block;
  max-width: 90%;
}

.mesagge-user {
  font-size: 10px;
  color: whitesmoke;
  text-align: left;
}

.card-content-message {
  background-color: transparent;
}

.some-message{
    background-color: #55df95;
}

.user-message{ 
  background-color: #2abdb1;
}

.info {
  position: relative;
  float: right;
  font-size: 0.6rem;
  margin-bottom: 0px;
  color: #dfdfdf;
}

#sendButton {
  position: relative;
  float: right;
  font-size: 200%;
  transform: translate(3px);
  margin-top: 3px;
  margin-right: 5px;
}

p{
  margin-top: 0;
  margin-bottom: 0;
}

ion-input{
  text-align: left;
}