<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button>
    <img src='./assets/icon/games.PNG' alt="">
  </ion-fab-button>
  <ion-fab-list side="top">
    <!-- if lang == langSelected:::: color and disabled -->
    <ion-fab-button (click)="this.clickGame(game.name)" middle *ngFor="let game of games">
      <img id="img-game" src="{{game.img}}" alt="">
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-fab (click)="this.clickGame('home')" vertical="bottom"  horizontal="center" slot="fixed">
  <ion-fab-button>
    <ion-icon name="home"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <img src='./assets/icon/languajes.png' alt="">
  </ion-fab-button>
  <ion-fab-list side="top" horizontal="end">
    <!-- if lang == langSelected:::: color and disabled -->
    <ion-fab-button (click)="this.clickLang(lang)" middle *ngFor="let lang of languajes">
      <img src="{{lang.img}}" alt="">
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
