.center-span {
  display: block;
  text-align: center;
}

.icon {
  max-width: 32vh;
  display: block;
  margin: 0 auto;
}

ion-input,
ion-item {
  --background: transparent;
}

ion-content{
  animation-duration: 5s;
  animation-name: fadeIn;
}