#btn-logout {
    width: 30%;
    height: 100%;
    font-size: 80%;
}

.logout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

p{
    text-align: center;
}

.p-logout {
    width: 40%;
    height: min-content;
}

#p-footer {
    font-size: 80%;
}

.btn-logout {
    width: min-content;
}

#btn-logout {
    width: 70%;
    height: 70%;
    font-size: 80%;
}

.segurity{
    display: flex;
    flex-direction: column;
    align-content: center;
}