.center-span {
  display: block;
  text-align: center;
}

.icon {
  max-width: 32vh;
  display: block;
  margin: 0 auto;
}

.text-danger {
  color: #e23e57;
}

a {
  left: 20%;
  position: absolute;
  bottom: 20%;
  color: black;
}

.btnLogin {
  position: fixed;
  left: 36%;
  bottom: 10%;
}
