.center-span {
  display: block;
  text-align: center;
}

.icon {
  max-width: 32vh;
  display: block;
  margin: 0 auto;
}

ion-input,
ion-item {
  --background: transparent;
}

.text-danger {
  color: #e23e57;
}

.a-register{
  color: whitesmoke;
}
