/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

$principal-color: #160d66;
$secondary-color: #2aabe7;

ion-toolbar {
  --background: $principal-color;
}

ion-content {
  --background: #3E5151;  /* fallback for old browsers */
  --background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
  --background: linear-gradient(to right, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes rotate-scale-up{0%{transform:scale(1) rotateZ(0)}50%{transform:scale(2) rotateZ(180deg)}100%{transform:scale(1) rotateZ(360deg)}}

@keyframes slidein {
    from {
      margin-bottom: 100%;
      width: 300%
    }
  
    to {
      margin-bottom: 0%;
      width: 100%;
    }
}

ion-button {
  //SET
    color: $secondary-color;
    background-color: $principal-color;
    border-radius: 45%;

    bottom: 0;
    left: 32%;
    position: fixed;

    font-style: italic;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;

    width: 30%;
}
  ion-button:hover {
    color: $principal-color;
    background-color: $secondary-color;
    box-shadow: 0 0 1rem rgb(255, 255, 255);

    animation-duration: 0.4s;
    animation-name: rotate-scale-up;
}

p, h1, a, ion-title, span{
  color: $principal-color;
  text-shadow: 0 0 0.5rem rgb(255, 255, 255);
  font-style:italic;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-align: center;
}

h1 {
  font-size: 200%;
}

ion-item {
  --background: transparent;
}