<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="text-align: center">
  <form>
    <ion-item lines="full">
      <img class="icon" src="../../../../assets/img/login-splash.png" alt="" />

      <ion-item id="divUsuarios" color="none" lines="none">
        <ion-icon
          class="iconUser"
          name="logo-reddit"
          *ngFor="let usuario of listaUsuarios"
          (click)="seleccionarUsuario(usuario)"
        ></ion-icon>
      </ion-item>

      <ion-label
        position="floating"
        style="
          color: rgb(136, 9, 9);
          text-align: center;
          font-family: 'Brush Script MT', cursive;
        "
      >
        Email <span class="text-danger">*</span></ion-label
      >
      <ion-input
        class="centrado"
        type="email"
        placeholder="Ingrese su correo"
        [(ngModel)]="user.email"
        name="email"
        required
      >
      </ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label
        position="floating"
        style="
          color: rgb(136, 9, 9);
          text-align: center;
          font-family: 'Brush Script MT', cursive;
        "
      >
        Contraseña <span class="text-danger">*</span></ion-label
      >
      <ion-input
        class="centrado"
        type="password"
        placeholder="Ingrese su Contraseña"
        [(ngModel)]="user.password"
        name="password"
        required
      >
      </ion-input>
    </ion-item>

    <div class="field-button">
      <a class="sns-btn sns-btn--button-class">
        <ion-button
          type="submit"
          (click)="onLogin()"
          expand="block"
          color="none"
          >Ingresar</ion-button
        >
      </a>
      <a class="sns-btn sns-btn--button-user">
        <ion-button
          id="buttonRegister"
          type="submit"
          (click)="onRegister()"
          expand="block"
          color="none"
          >Registrarse</ion-button
        >
      </a>
    </div>
  </form>
</ion-content>
