.error_message {
    font-size: 100%;
    color: red;
}

ion-card {
    box-shadow: none;
}

.divUsuarios {
    animation-name: rightIn;
    animation-duration: 3s;
    ion-icon {
        font-size: 400%;
    }
    ion-icon:hover {
        color: red;
        animation-name: rotate;
        animation-duration: 1s;
    }
}

ion-item {
    font-size: 100%;
    --border-color: #d4d7db;
    --highlight-color-focused: #1248a0;
    --inner-padding-end: 0;

    ion-icon {
        padding-right: 6px;
        font-size: 18px;
    }

    ion-input:hover {
        color: #1248a0;
    }
}

#icon-user {
    color: rgb(112, 53, 107);
}

#icon-user:hover {
    color: #a01212;
}
