<ion-content>
    <img src="./assets/images/background-login.png" />
    <div class="container">
        <ion-card>
            <ion-card-content>
                <ion-input type="email" placeholder="Correo.." [(ngModel)]="user.email" name="email" required>
                </ion-input>
            </ion-card-content>
            <ion-card-content id="password">
                <ion-input type="password" placeholder="Contraseña.." [(ngModel)]="user.password" name="password"
                    required>
                </ion-input>
            </ion-card-content>
        </ion-card>

        <div class="container-btn">
            <ion-button [disabled]="!this.correctData()" expand="full" shape="round" type="submit" (click)="onLogin()"
                block>Ingresar
            </ion-button>
        </div>
    </div>
</ion-content>

<ion-footer>
    <div class="register">
        <div class="p-register">
            <p id="p-footer">¿No tienes cuenta?</p>
        </div>
        <div class="btn-register">
            <ion-button [disabled]="!this.correctData()" id="btn-register" expand="full" shape="round" type="submit"
                (click)="onRegister()" block>
                Registrarse
            </ion-button>
        </div>

        <ion-fab vertical="center" horizontal="end" slot="fixed">
            <ion-fab-button>
                <ion-icon name="person-circle-sharp"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="top">
                <ion-fab-button (click)="this.quickLog(user)" middle *ngFor="let user of users">
                    <p id="p-perfil">{{user.perfil}}</p>
                </ion-fab-button>
            </ion-fab-list>
        </ion-fab>
    </div>
</ion-footer>