<ion-header>
  <ion-toolbar>
    <ion-title>Chat de Cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="text-align: center">
  <ion-card class="button class-a" (click)="classSelected('4A')">
    <p>PPS-4A</p>
  </ion-card>

  <ion-card class="button class-b" (click)="classSelected('4B')">
    <p>PPS-4B</p>
  </ion-card>

  <a class="sns-btn sns-btn--button-user btnLogout">
    <ion-button
      expand="block"
      shape="round"
      (click)="logout()"
      color="none"
    >
      Cerrar Sesión
    </ion-button>
  </a>
</ion-content>
