.icon {
  top: 1rem;
  position: relative;
}

form {
  animation-duration: 3s;
  animation-name: scale-in-center;
}

form,
ion-row {
  top: 4rem;
  position: relative;
}

.icon {
  max-width: 32vh;
  display: block;
  margin: 0 auto;
}

.text-danger {
  color: #e23e57;
}

ion-button {
  top: 5rem;
  position: relative;
}

.ion-text-end {
  top: 2rem;
  right: 0;
  position: absolute;
}
