.center-span {
  display: block;
  text-align: center;
}

.icon {
  max-width: 32vh;
  display: block;
  margin: 0 auto;
}

.text-danger {
  color: #23125c;
}

a{
  left: 0%;
  position: absolute;
  top: 5rem;
}

ion-button{
  position: relative;
  right: 0;
}