<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="text-align: center">
  <form>
    <ion-item lines="full">
      <img class="icon" src="../../../../assets/img/login-splash.png" alt="" />
      <br>
      <ion-label
        position="floating"
        style="
          color: #160d66;
          text-align: center;
          font-family: Comic Sans MS;
          font-style: italic;
        "
      >
        Ingrese Email <span class="text-danger">*</span></ion-label
      >
      <ion-input type="text" #email required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label
        position="floating"
        style="
          color: #160d66;
          text-align: center;
          font-family: Comic Sans MS;
          font-style: italic;
        "
      >
        Ingrese Contraseña <span class="text-danger">*</span></ion-label
      >
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    
    <ion-row>
      <ion-col>
        <ion-button
          type="submit"
          (click)="onLogin(email, password)"
          color="none"
          >Ingresar</ion-button
        >
      </ion-col>
    </ion-row>
  </form>

  <ion-row>
    <p class="ion-text-end">
      <a href="/user/register" class="a-register">Crear una Cuenta </a>
    </p>
  </ion-row>
</ion-content>
