<ion-content class="background-image centrado">

    <ion-card>
      <ion-card-header class="centrado">
        <ion-card-title>
          <h1>Cerrar Sesión</h1>
        </ion-card-title>
      </ion-card-header>
  
      <ion-card-content card-transparent>
        <form class="centrado">
          <ion-button
            color="none"
            expand="full"
            shape="round"
            type="submit"
            (click)="onLogout()"
            block
            >Cerrar</ion-button
          >
        </form>
      </ion-card-content>
    </ion-card>

  <ion-header class="centrado">
    <img src="../../assets/images/casa.png" />
  </ion-header>

</ion-content>
