<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cerrar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <img class="img-logout" src="/assets/img/logout.png" alt="" />
    <span class="center-span"> ¿Seguro desea salir?</span>
    <ion-row>
      <ion-col class="center-span">
        <ion-button class="btnLogout" shape="round" color="none" (click)="onLogOut()"
          >Salir
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
