.center-span {
  display: block;
  text-align: center;
}

.icon {
  max-width: 32vh;
  display: block;
  margin: 0 auto;
}

ion-input{
  --background: transparent;
}

.center-span{
  color: antiquewhite;
}

ion-button {
  top: 11rem;
  position: relative;
}