#custom-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    width: 100%;
    background-color: black;
}
#logoAnimado {
    z-index: -10;
    position: absolute;
    width: 25%;
    animation-name: animacionLogo;
    animation-duration: 7s;
    top: 42%;
    left: 37%;
}
@keyframes animacionLogo {
    from {
        top: 68%;
        left: 0%;
        padding: 0px;
        margin-top: 0px;
        border: 0px;
        z-index: 10;
    }
    30% {
        top: 18%;
        left: 36%;
        padding: 0px;
        margin-top: 0px;
        border: 0px;
        z-index: 10;
    }
    60% {
        top: 68%;
        left: 75%;
    }
    90% {
        top: 42%;
        left: 37%;
        transform: scale(1);
    }
    95% {
        transform: scale(1.9);
    }
    to {
        transform: scale(1);
        z-index: 10;
    }
}

.flb {
    background: url("../assets/images/slplashSinLogo.png") no-repeat center / cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    position: fixed;
    top: 90%;
    width: 100%;
    text-align: center;
}

.info p {
    color: green;
    font-size: 140%;
}
