<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Chat de Cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="text-align: center">
  <!-- User Logged -->
  <ion-content *ngIf="user$ | async as user$; else login">
    <ion-card class="btn class-a" (click)="choose(true, user$)">
      <p>COSAS LINDAS DEL EDIFICIO</p>
    </ion-card>
  
    <ion-card class="btn class-b" (click)="choose(false, user$)">
      <p style="color: rgb(187, 21, 54);">COSAS FEAS DEL EDIFICIO</p>
    </ion-card>
    <ion-button class="btnLogin" shape="round" (click)="logout()" color="none"
      >Cerrar Sesión</ion-button
    >
  </ion-content>

  <!-- User not Logged -->
  <ng-template #login>
    <ion-button class="btnLogin" shape="round" (click)="logout()" color="none"
      >Iniciar Sesión</ion-button
    >
  </ng-template>
</ion-content>
