// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: linear-gradient(-45deg, #ad5389, #3c1053);
  --ion-color-secondary: #f3cce4;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: linear-gradient(-45deg, #ee7752, #e73c7e);
  --ion-color-primary-tint: linear-gradient(-45deg, #23a6d5, #808181);
}
