// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #1e8593;
  --ion-color-primary-contrast: red;
  --ion-color-primary-shade: black;
  --ion-color-primary-tint: yellow;
}
